.main-section{
    height: 550px;
    background-image: linear-gradient(rgba(21,50, 99, 0.7), rgba(21, 50, 99, 0.7)), url('../../assets/images/people-6027028_1280.jpg');
    background-size: cover; /* Make sure the image covers the entire element */
  background-position: center; /* Center the image */
  background-attachment: fixed;
  z-index: -1;
  background-repeat: no-repeat;;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

}
.text1{
    margin:0;
    text-transform: uppercase;
    font-size: 22px;
}
.main-section h2{
    margin:15px;
    font-size: 42px;
    font-weight: bold;
}
.text2{
    margin: 0;
    font-size: 22px;
}