.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.banner-left {
  margin-left: 150px;
  flex: 1;
  width: 500px;
  transition: all 0.3s ease;
}
.banner-left h1 {
  font-size: 50px;
  color: #2d3744;
}

.banner-right {
  width: 650px;
  margin-left: 150px;
  /* overflow: hidden; */
  position: relative;
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
.banner-left:hover {
  transform: translateY(-5px);
}
.banner-right:hover {
  transform: translateY(5px);
}
.background {
  height: 300px;
  width: 400px;
  position: absolute;
  background: linear-gradient(rgba(233, 97, 40, 0.7), rgba(233, 97, 40, 0.7));
  z-index: 1;
  /* animation: backgroundTranslation 5s infinite; */
  transform: translateX(-5%) rotate(-3deg);
  border-radius: 10px;
}
.background2 {
  height: 300px;
  width: 400px;
  position: absolute;
  background: linear-gradient(rgba(29, 71, 98, 0.7), rgba(29, 71, 98, 0.7));
  z-index: 1;
  /* animation: backgroundTranslation 5s infinite; */
  transform: translateX(5%) rotate(3deg);
  border-radius: 10px;
}
.image {
  height: 300px;
  width: 400px;
  z-index: 2; /* Ensure it is above the background */
  border-radius: 15px;
  position: relative;
}
.banner-right:hover .background {
  transform: translateX(-10%) rotate(-5deg);
}
.banner-right:hover .background2 {
  transform: translateX(10%) rotate(5deg);
}
.banner-right:hover .image {
  width: 420px;
}
.tag {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  width: fit-content;
  border-radius: 25px;
  padding: 10px 25px;
  opacity: 0.9;
  z-index: 1;
}
.banner-left .tag:nth-child(1) {
  background-color: #2575fc;
}
.keypoint-card {
  margin-left: 20px;
}
.tag-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 20px;
  padding: 15px;
  align-items: center;
  /* justify-content: space-around; */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.tag-card:hover {
  transform: scale(1.05);
}
.tag-card:nth-child(1) {
  color: #1d4762;
}
.tag-card:nth-child(2) {
  color: #e96128;
}
.tag-card-icon {
  font-weight: bolder;
  font-size: 20px;
  margin-right: 10px;
}
.tag-card-text {
  font-size: 18px;
  color: #2d3744;
}
.banner-bottom {
  border: none;
  padding: 15px 20px;
  color: white;
  border-radius: 50px;
  font-size: 16px;
}
.banner-bottom:hover {
  transform: scale(1.05);
}
